{% extends "layout.html" %}

{% block title %}
    Cloudiness
{% endblock %}

{% block main %}
<div class="row p-3" >
    <div class="col-12 col-lg-6 p-3 border bg-white" style="margin-top: 0; margin-bottom: auto;">
        <h3 class="header">Cloudiness vs. Latitude</h3>
        <br>
        <img class="center" src="static/Fig3.png">
    </div>

    <div class="col-12 col-xl-3 col-lg-12 col-sm-12 col-md-12 p-3 border bg-dark text-white" style="margin-top: 7%; margin-bottom: auto; margin-right: 4%;">
        <h4 class="header text-white">Observations</h4>
        <br>
        <p class="justify-left text-white">
            There does not appear to be any significant correlation between cloudiness and latitude.
        </p>
    </div>
</div>
<br>
<h4 class="header">Other Plots</h4>
<div class="row p-3">
    <div class="col-6 col-lg-4 p-3 border bg-white">
        <h6 class="header"><a href="/temp">Max Temp</a></h6>   
        <a href="/temp"><img class="center" src="static/Fig1.png"></a>
    </div>
    <div class="col-6 col-lg-4 p-3 border bg-white">
        <h6 class="header"><a href="/hum">Humidity</a></h6>
        <a href="/hum"><img class="center" src="static/Fig2.png"></a>
    </div>
    <div class="col-6 col-lg-4 p-3 border bg-white">
        <h6 class="header"><a href="/wind">Wind Speed</a></h6> 
        <a href="/wind"><img class="center" src="static/Fig4.png"></a>
    </div>
</div>
{% endblock %}