{% extends "layout.html" %}

{% block title %}
    Comparisons
{% endblock %}

{% block main %}
<div class="column col-12 p-3 m-auto">
        <h3 class="header" style="text-align: center; margin-bottom: 6%;">Comparisons</h3>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6" style="margin-bottom: 4.5%;">
                <h4 class="header"><a class="hoverable" href="/temp">Max Temp</a></h4>
                <a href="/temp"><img class="border" src="static/Fig1.png"></a>
                <div class="bg-transparent"><br></div>
                <h4 class="header"><a class="hoverable" href="/cloud">Cloudiness</a></h4>
                <a href="/cloud"><img class="border" src="static/Fig3.png"></a>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
                <h4 class="header"><a class="hoverable" href="/hum">Humidity</a></h4>
                <a href="/hum"><img class="border" src="static/Fig2.png"></a>
                <div class="bg-transparent"><br></div>
                <h4 class="header"><a class="hoverable" href="/wind">Wind Speed</a></h4>
                <a href="/wind"><img class="border" src="static/Fig4.png"></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}